@font-face {
  font-family: 'GEL-icon';
  src:  url('fonts/GEL-icon.eot?47x31w');
  src:  url('fonts/GEL-icon.eot?47x31w#iefix') format('embedded-opentype'),
    url('fonts/GEL-icon.ttf?47x31w') format('truetype'),
    url('fonts/GEL-icon.woff?47x31w') format('woff'),
    url('fonts/GEL-icon.svg?47x31w#GEL-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GEL-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi-angle-double-down:before {
  content: "\e900";
  color: #6b778c;
}
.pi-angle-double-left:before {
  content: "\e901";
  color: #6b778c;
}
.pi-angle-double-right:before {
  content: "\e902";
  color: #6b778c;
}
.pi-angle-double-up:before {
  content: "\e903";
  color: #6b778c;
}
.pi-angle-down:before {
  content: "\e904";
  color: #6b778c;
}
.pi-angle-left:before {
  content: "\e905";
  color: #6b778c;
}
.pi-angle-right:before {
  content: "\e906";
  color: #6b778c;
}
.pi-angle-up:before {
  content: "\e907";
  color: #6b778c;
}
.pi-archive:before {
  content: "\e908";
  color: #6b778c;
}
.pi-arrow-circle-down:before {
  content: "\e909";
  color: #6b778c;
}
.pi-arrow-circle-left:before {
  content: "\e90a";
  color: #6b778c;
}
.pi-arrow-circle-right:before {
  content: "\e90b";
  color: #6b778c;
}
.pi-arrow-circle-up:before {
  content: "\e90c";
  color: #6b778c;
}
.pi-arrow-down:before {
  content: "\e90d";
  color: #6b778c;
}
.pi-arrow-left:before {
  content: "\e90e";
  color: #6b778c;
}
.pi-arrow-right:before {
  content: "\e90f";
  color: #6b778c;
}
.pi-arrow-up:before {
  content: "\e910";
  color: #6b778c;
}
.pi-ban:before {
  content: "\e911";
  color: #6b778c;
}
.pi-bars:before {
  content: "\e912";
  color: #6b778c;
}
.pi-bell:before {
  content: "\e913";
  color: #6b778c;
}
.pi-book:before {
  content: "\e914";
  color: #6b778c;
}
.pi-calendar:before {
  content: "\e915";
  color: #6b778c;
}
.pi-caret-down-fill:before {
  content: "\e916";
  color: #6b778c;
}
.pi-caret-down:before {
  content: "\e917";
  color: #6b778c;
}
.pi-caret-left-fill:before {
  content: "\e918";
  color: #6b778c;
}
.pi-caret-left:before {
  content: "\e919";
  color: #6b778c;
}
.pi-caret-right-fill:before {
  content: "\e91a";
  color: #6b778c;
}
.pi-caret-right:before {
  content: "\e91b";
  color: #6b778c;
}
.pi-caret-up-fill:before {
  content: "\e91c";
  color: #6b778c;
}
.pi-caret-up:before {
  content: "\e91d";
  color: #6b778c;
}
.pi-chart-pie:before {
  content: "\e91e";
  color: #6b778c;
}
.pi-check-circle:before {
  content: "\e91f";
  color: #6b778c;
}
.pi-chevron-down:before {
  content: "\e920";
  color: #6b778c;
}
.pi-chevron-left:before {
  content: "\e921";
  color: #6b778c;
}
.pi-chevron-right:before {
  content: "\e922";
  color: #6b778c;
}
.pi-chevron-up:before {
  content: "\e923";
  color: #6b778c;
}
.pi-circle:before {
  content: "\e924";
  color: #6b778c;
}
.pi-clock:before {
  content: "\e925";
  color: #6b778c;
}
.pi-clone:before {
  content: "\e926";
  color: #6b778c;
}
.pi-cloud-download:before {
  content: "\e927";
  color: #6b778c;
}
.pi-cloud-upload:before {
  content: "\e928";
  color: #6b778c;
}
.pi-cloud:before {
  content: "\e929";
  color: #6b778c;
}
.pi-cog:before {
  content: "\e92a";
  color: #6b778c;
}
.pi-dollar:before {
  content: "\e92b";
  color: #6b778c;
}
.pi-download:before {
  content: "\e92c";
  color: #6b778c;
}
.pi-edit-3:before {
  content: "\e92d";
  color: #6b778c;
}
.pi-edit:before {
  content: "\e92e";
  color: #6b778c;
}
.pi-ellipsis-h:before {
  content: "\e92f";
  color: #6b778c;
}
.pi-ellipsis-v:before {
  content: "\e930";
  color: #6b778c;
}
.pi-envelope:before {
  content: "\e931";
  color: #6b778c;
}
.pi-exclamation-triangle:before {
  content: "\e932";
  color: #6b778c;
}
.pi-external-link:before {
  content: "\e933";
  color: #6b778c;
}
.pi-eye-slash:before {
  content: "\e934";
  color: #6b778c;
}
.pi-eye:before {
  content: "\e935";
  color: #6b778c;
}
.pi-file-excel:before {
  content: "\e936";
  color: #6b778c;
}
.pi-file-minus:before {
  content: "\e937";
  color: #6b778c;
}
.pi-file-o:before {
  content: "\e938";
  color: #6b778c;
}
.pi-file-pdf:before {
  content: "\e939";
  color: #6b778c;
}
.pi-file-plus:before {
  content: "\e93a";
  color: #6b778c;
}
.pi-file-text:before {
  content: "\e93b";
  color: #6b778c;
}
.pi-filter-slash:before {
  content: "\e93c";
  color: #6b778c;
}
.pi-filter:before {
  content: "\e93d";
  color: #6b778c;
}
.pi-folder:before {
  content: "\e93e";
  color: #6b778c;
}
.pi-gift:before {
  content: "\e93f";
  color: #6b778c;
}
.pi-globe:before {
  content: "\e940";
  color: #6b778c;
}
.pi-grid:before {
  content: "\e941";
  color: #6b778c;
}
.pi-home:before {
  content: "\e942";
  color: #6b778c;
}
.pi-image:before {
  content: "\e943";
  color: #6b778c;
}
.pi-info-circle:before {
  content: "\e944";
  color: #6b778c;
}
.pi-link:before {
  content: "\e945";
  color: #6b778c;
}
.pi-lock:before {
  content: "\e946";
  color: #6b778c;
}
.pi-map-marker:before {
  content: "\e947";
  color: #6b778c;
}
.pi-map:before {
  content: "\e948";
  color: #6b778c;
}
.pi-minus-circle:before {
  content: "\e949";
  color: #6b778c;
}
.pi-minus:before {
  content: "\e94a";
  color: #6b778c;
}
.pi-paperclip:before {
  content: "\e94b";
  color: #6b778c;
}
.pi-pause:before {
  content: "\e94c";
  color: #6b778c;
}
.pi-pencil:before {
  content: "\e94d";
  color: #6b778c;
}
.pi-play:before {
  content: "\e94e";
  color: #6b778c;
}
.pi-plus-circle:before {
  content: "\e94f";
  color: #6b778c;
}
.pi-plus:before {
  content: "\e950";
  color: #6b778c;
}
.pi-power-off:before {
  content: "\e951";
  color: #6b778c;
}
.pi-print:before {
  content: "\e952";
  color: #6b778c;
}
.pi-question-circle:before {
  content: "\e953";
  color: #6b778c;
}
.pi-refresh:before {
  content: "\e954";
  color: #6b778c;
}
.pi-replay:before {
  content: "\e955";
  color: #6b778c;
}
.pi-search-minus:before {
  content: "\e956";
  color: #6b778c;
}
.pi-search-plus:before {
  content: "\e957";
  color: #6b778c;
}
.pi-search:before {
  content: "\e958";
  color: #6b778c;
}
.pi-sidebar:before {
  content: "\e959";
  color: #6b778c;
}
.pi-sliders-v:before {
  content: "\e95a";
  color: #6b778c;
}
.pi-sort-alt:before {
  content: "\e95b";
  color: #6b778c;
}
.pi-sort:before {
  content: "\e95c";
  color: #6b778c;
}
.pi-star-fill:before {
  content: "\e95d";
  color: #6b778c;
}
.pi-star:before {
  content: "\e95e";
  color: #6b778c;
}
.pi-tag:before {
  content: "\e95f";
  color: #6b778c;
}
.pi-times-circle:before {
  content: "\e960";
  color: #6b778c;
}
.pi-times:before {
  content: "\e961";
  color: #6b778c;
}
.pi-trash:before {
  content: "\e962";
  color: #6b778c;
}
.pi-unlock:before {
  content: "\e963";
  color: #6b778c;
}
.pi-upload:before {
  content: "\e964";
  color: #6b778c;
}
.pi-user-edit:before {
  content: "\e965";
  color: #6b778c;
}
.pi-user-minus:before {
  content: "\e966";
  color: #6b778c;
}
.pi-user-plus:before {
  content: "\e967";
  color: #6b778c;
}
.pi-user:before {
  content: "\e968";
  color: #6b778c;
}
.pi-window-maximize:before {
  content: "\e969";
  color: #6b778c;
}
.pi-window-minimize:before {
  content: "\e96a";
  color: #6b778c;
}
